@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

#root{
  width: 100%;
    height: 100%;
}

#family{
  font-family: 'Indie Flower', cursive;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: lightcyan; */
  background: url("/image/navvvi.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #EFFFFA;
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway', sans-serif;
  font-family: 'Indie Flower', cursive;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}
#navbar{
  
  height: 4.5rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

#navbar img {
  border-radius: 5px;
  height: auto;
  width: 10rem;
}

div {
  text-align: center;
}

/* small {
  display: block;
} */
#welcome{
  width: 800px;
}
a {
  color: #343078;
  text-decoration: none;
}

#movie{
  display: flex;
  flex-wrap: wrap;
  padding-left: 17%;
  padding-right: 14%
}

#movies{
  display: flex;
  flex-wrap: wrap;
}

#movieButton {
  display: block;
}

#pDelete {
  /* position: absolute; */
    font-size: 47px;
    /* padding: 0px;
    margin: 0px;
    left: 84px;
    top: -17px; */
    color: red;
    margin: 0px;
    padding-left: 15px;
    width: 5px;
}

#friends{
  background: url('https://38.media.tumblr.com/f27ea520302b085d20d880e8f4ad4d59/tumblr_mlzxilVczE1r72ht7o1_500.gif');
  background-repeat: no-repeat;
  width: 700px;
  height: 400px;
  position: absolute;
  margin-left: -5%;
  margin-top: 3%;
 
}

#poto{
  
    
    margin-right: 150px;
}